<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' *.gstatic.com"
    />
    <!-- Google Charts loads an additional script to www.gstaatic.com -->
    <!-- See https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
